@model Chefster.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Account";
}

<div class="container mt-5">
    @if (Model.UserStatus == Chefster.Common.UserStatus.NoAccount)
    {
    <stripe-buy-button
        buy-button-id="buy_btn_1QHITHGO5EdTXxQvR2dzQLeu"
        publishable-key="pk_test_51P3TK7GO5EdTXxQvdoGqlHub5RM7vlIxZ1rj4kJmxwO8FJ7bPlFL1JvY7FVZSeluLED2imD6lknAb4tb49yPg1jA00oMxDg2Dh"
        client-reference-id=@Model.FamilyId
    >
    </stripe-buy-button>
    }
    else
    {
        <div>Unsubscribe</div>
    }
</div>