@{
    ViewData["Title"] = "Create Profile";
}

@model Chefster.ViewModels.FamilyViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <form id="createform" class="row g-3" action="/api/family" method="post">
                <div class="fs-3">
                    Tell us a bit about yourself...
                </div>
                <hr class="border border-primary border-1 opacity-100">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="Name">Name of Email Recipient</label>
                            <input asp-for="Name" type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" type="tel" pattern="^\+?\d{0,13}" class="form-control"
                                required />
                            <small>Format: +1234567890</small>
                        </div>
                    </div>
                    <div class="col pe-0">
                        <label asp-for="FamilySize">Number of Family Members</label>
                        <div class="row g-0 input-group pe-0 me-0">
                            <div class="col-3 pe-0">
                                <input asp-for="FamilySize" type="number" id="FamilySize" style="border-radius: 0;"
                                    class="form-control text-center rounded-start ps-4" min="1" max="10" readonly
                                    required />
                            </div>
                            <div class="col-9">
                                <button id="addMemberButton" type="button" style="border-radius: 0;"
                                    class="btn btn-primary w-100 rounded-end">
                                    Add Member
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fs-3 pt-5">
                    Family members
                </div>
                <hr class="border border-primary border-1 opacity-100">
                <div id="familyMembersContainer" class="mt-0">
                </div>
                <div class="fs-3 pt-5">
                    How many recipes do you need each week?
                </div>
                <hr class="border border-primary border-1 opacity-100">
                <div id="mealCountFeedback" class="bg-danger text-white rounded mb-4 p-2 fw-bold fs-4 d-none">
                    Must have at least 1 meal selected!
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="NumberOfBreakfastMeals">Breakfast</label>
                            <input id="NumberOfBreakfastMeals" asp-for="NumberOfBreakfastMeals" type="number"
                                class="form-control" min="0" max="7" value="0" required />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="NumberOfLunchMeals">Lunch</label>
                            <input id="NumberOfLunchMeals" asp-for="NumberOfLunchMeals" type="number"
                                class="form-control" min="0" max="7" value="0" required />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="NumberOfDinnerMeals">Dinner</label>
                            <input id="NumberOfDinnerMeals" asp-for="NumberOfDinnerMeals" type="number"
                                class="form-control" min="0" max="7" value="7" required />
                        </div>
                    </div>
                </div>
                <div class="fs-3 pt-5">
                    When would you like to receive weekly recipes?
                </div>
                <hr class="border border-primary border-1 opacity-100">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="GenerationDay">Day of Week</label>
                            <select class="form-control" asp-for="GenerationDay"
                                asp-items="Html.GetEnumSelectList<DayOfWeek>()" required></select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="GenerationTime">Time</label>
                            <input asp-for="GenerationTime" class="form-control" type="time" required />
                        </div>
                    </div>
                </div>
                <div class="fs-3 pt-5">
                    Select your plan
                </div>
                <hr class="border border-primary border-1 opacity-100">
                <div class="row">
                    <div class="col">
                        <button id="freeTrialButton" class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="freeTrialBlock subscribeBlock" disabled>
                            Free Trial
                        </button>
                    </div>
                    <div class="col">
                        <button id="subscribeButton" class="btn btn-primary w-100" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="freeTrialBlock subscribeBlock">
                            Subscribe
                        </button>
                    </div>
                </div>
                <div id="freeTrialBlock" class="collapse multi-collapse show">
                    <div class="row my-3">
                        <div class="col-12">
                            <div class="fs-5">
                                Start your 2-week free trial today!
                            </div>
                        </div>
                        <div class="col-12 my-4">
                            <div class="fs-5">
                                To receive a hand-written letter from the founders,
                                as well as an additional 2 weeks on your free trial, consider
                                providing your address.
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-2">
                                <label>
                                    <input type="checkbox" id="optInAddress" />
                                    I'd like to provide my address
                                </label>
                            </div>
                        </div>
                        <div id="addressFields" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.StreetAddress">Street Address</label>
                                        <input asp-for="Address.StreetAddress" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.AptOrUnitNumber">Apartment or Unit Number (optional)</label>
                                        <input asp-for="Address.AptOrUnitNumber" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.CityOrTown">City</label>
                                        <input asp-for="Address.CityOrTown" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.StateProvinceRegion">State</label>
                                        <input asp-for="Address.StateProvinceRegion" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.PostalCode">Postal Code</label>
                                        <input asp-for="Address.PostalCode" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mt-1">
                                        <label asp-for="Address.Country">Country</label>
                                        <input asp-for="Address.Country" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="subscribeBlock" class="collapse multi-collapse">
                    <div class="row">
                        <div class="col-12">
                            <div class="fs-4 text-center my-3">Coming soon...</div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="TimeZone" asp-for="TimeZone" value="" required />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">Create Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('optInAddress').addEventListener('change', function() {
            var addressFields = document.getElementById('addressFields');
            if (this.checked) {
                addressFields.style.display = 'block';
            } else {
                addressFields.style.display = 'none';
            }
        });

        document.getElementById('createform').addEventListener('submit', function (event) {
            event.preventDefault();

            const breakfastCount = parseInt(document.getElementById('NumberOfBreakfastMeals').value)
            const lunchCount = parseInt(document.getElementById('NumberOfLunchMeals').value)
            const dinnerCount = parseInt(document.getElementById('NumberOfDinnerMeals').value)

            // make sure they sign up for at least 1 meal
            if (breakfastCount + lunchCount + dinnerCount <= 0) {
                const feedbackElement = document.getElementById('mealCountFeedback');
                feedbackElement.classList.remove('d-none');
            }
            else {
                this.submit();
            }
        });

        function increaseFamilySize() {
            const familySize = document.getElementById('FamilySize')
            familySize.value = parseInt(familySize.value) + 1

            const addMemberButton = document.getElementById('addMemberButton')
            if (familySize.value >= 10) {
                addMemberButton.disabled = true
            }
            renderTiles(familySize.value)
        }

        async function removeUnusedMember(divToDelete) {
            const familyMembersContainer = document.getElementById('familyMembersContainer');
            familyMembersContainer.removeChild(divToDelete)

            const familySize = document.getElementById('FamilySize');
            familySize.value = parseInt(familySize.value) - 1

            const addMemberButton = document.getElementById('addMemberButton')
            if (familySize.value < 10) {
                addMemberButton.disabled = false
            }
            renderTiles(familySize.value)
        }

        document.addEventListener('DOMContentLoaded', function () {
            // set the time zone
            const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.getElementById('TimeZone').value = timeZone;

            const familySize = document.getElementById('FamilySize')
            let numMembers = 1
            familySize.value = numMembers
            const familyMembersContainer = document.getElementById('familyMembersContainer');
            // clear the container for rerender
            familyMembersContainer.innerHTML = ""

            renderTiles(numMembers);

            var addMemberButton = document.getElementById('addMemberButton')
            addMemberButton.addEventListener('click', function () {
                increaseFamilySize();
            });

            // free trial and subscribe button listeners
            var freeTrialButton = document.getElementById('freeTrialButton');
            var subscribeButton = document.getElementById('subscribeButton');

            freeTrialButton.addEventListener('click', function() {
                freeTrialButton.disabled = true;
                subscribeButton.disabled = false;
            });

            subscribeButton.addEventListener('click', function() {
                subscribeButton.disabled = true;
                freeTrialButton.disabled = false;
            });
        });

        function renderTiles(numMembers) {
            const familyMembersContainer = document.getElementById('familyMembersContainer');
            // clear the container for rerender
            familyMembersContainer.innerHTML = ""

            function renderRemove(index) {
                if (index > 0) {
                    return `<div class="col-3 form-check d-flex align-items-center justify-content-center" style="padding-left: 36px; padding-right: 12px">
                                <button class="btn btn-danger w-100" type="button" onclick="removeUnusedMember(document.getElementById('member${index}'));">Remove</button>
                            </div>`;
                } else {
                    return ``
                }
            }

            for (let i = 0; i < numMembers; i++) {
                // add a new member with index as number of members
                familyMembersContainer.innerHTML += `
        <div id="member${i}" class="p-3 mt-4 rounded border border-primary border-2 opacity-100">
            <div class="py-1 fs-5">
                Member ${i + 1}
            </div>
            <div class="row my-3">
                <div class="row" style="padding-right: 0">
                    <label name="Members[${i}].Name" class="col-1 col-form-label" id="Members[${i}].NameLabel">Name</label>
                    <div class="col" style="padding-right: 0px;">
                        <input type="text" name="Members[${i}].Name" class="form-control" required id="Members[${i}].Name">
                    </div>
                    ${renderRemove(i)}
                </div>
                <label name="Members[${i}].Notes" class="col-1 col-form-label mt-3">Notes</label>
            <div class="col-11">
                <textarea name="Members[${i}].Notes" type="text" class="form-control mt-3"></textarea>
            </div>
        </div>
        <div id="considerationRow" class="row my-3 ms-5">
            <div id="ConsiderationCol" class="col-md-4">
                <label class="form-label">Dietary Restrictions</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[0].Selected" value="true">
                        <label class="form-check-label">Carnivore</label>
                        <input type="hidden" name="Members[${i}].Restrictions[0].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[0].Text" value="Carnivore">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[1].Selected" value="true">
                        <label class="form-check-label">Gluten-Free</label>
                        <input type="hidden" name="Members[${i}].Restrictions[1].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[1].Text" value="Gluten-Free">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[2].Selected" value="true">
                        <label class="form-check-label">Lactose Intolerant</label>
                        <input type="hidden" name="Members[${i}].Restrictions[2].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[2].Text" value="Lactose Intolerant">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[3].Selected" value="true">
                        <label class="form-check-label">Nut-Free</label>
                        <input type="hidden" name="Members[${i}].Restrictions[3].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[3].Text" value="Nut-Free">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[4].Selected" value="true">
                        <label class="form-check-label">Shellfish-Free</label>
                        <input type="hidden" name="Members[${i}].Restrictions[4].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[4].Text" value="Shellfish-Free">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[5].Selected" value="true">
                        <label class="form-check-label">Vegan</label>
                        <input type="hidden" name="Members[${i}].Restrictions[5].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[5].Text" value="Vegan">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Restrictions[6].Selected" value="true">
                        <label class="form-check-label">Vegetarian</label>
                        <input type="hidden" name="Members[${i}].Restrictions[6].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Restrictions[6].Text" value="Vegetarian">
                    </div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Diet Goals</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[0].Selected" value="true">
                        <label class="form-check-label">Increase Energy</label>
                        <input type="hidden" name="Members[${i}].Goals[0].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[0].Text" value="Increase Energy">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[1].Selected" value="true">
                        <label class="form-check-label">Maintain Weight</label>
                        <input type="hidden" name="Members[${i}].Goals[1].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[1].Text" value="Maintain Weight">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[2].Selected" value="true">
                        <label class="form-check-label">Mental Clarity</label>
                        <input type="hidden" name="Members[${i}].Goals[2].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[2].Text" value="Mental Clarity">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[3].Selected" value="true">
                        <label class="form-check-label">Muscle Gain</label>
                        <input type="hidden" name="Members[${i}].Goals[3].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[3].Text" value="Muscle Gain">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[4].Selected" value="true">
                        <label class="form-check-label">Overall Health</label>
                        <input type="hidden" name="Members[${i}].Goals[4].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[4].Text" value="Overall Health">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Goals[5].Selected" value="true">
                        <label class="form-check-label">Weight Loss</label>
                        <input type="hidden" name="Members[${i}].Goals[5].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Goals[5].Text" value="Weight Loss">
                    </div>
            </div>
            <div class="col-md-4">
                <label class="form-label">Cuisines</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[0].Selected" value="true">
                        <label class="form-check-label">American</label>
                        <input type="hidden" name="Members[${i}].Cuisines[0].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[0].Text" value="American">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[1].Selected" value="true">
                        <label class="form-check-label">Asian</label>
                        <input type="hidden" name="Members[${i}].Cuisines[1].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[1].Text" value="Asian">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[2].Selected" value="true">
                        <label class="form-check-label">Barbecue</label>
                        <input type="hidden" name="Members[${i}].Cuisines[2].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[2].Text" value="Barbecue">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[3].Selected" value="true">
                        <label class="form-check-label">Italian</label>
                        <input type="hidden" name="Members[${i}].Cuisines[3].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[3].Text" value="Italian">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[4].Selected" value="true">
                        <label class="form-check-label">Mexican</label>
                        <input type="hidden" name="Members[${i}].Cuisines[4].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[4].Text" value="Mexican">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="Members[${i}].Cuisines[5].Selected" value="true">
                        <label class="form-check-label">Seafood</label>
                        <input type="hidden" name="Members[${i}].Cuisines[5].Selected" value="false">
                        <input type="hidden" name="Members[${i}].Cuisines[5].Text" value="Seafood">
                    </div>
            </div>
        </div>
        </div>
        `
            }
        }
    </script>
}