@{
    ViewData["Title"] = "Privacy Policy & Disclaimer";
}

<div class="container col-md-8">
    <div>
        <h2 class="mb-4">Privacy</h2>
        <p class="mb-5">
            At Chefster, we are committed to your privacy and ensuring the confidentiality of the information you
            provide to us. All personal data, including but not limited to your dietary preferences, profile details,
            and
            any other information submitted, will be treated with confidentiality. We do not sell, share, or distribute
            your information to third parties. The data collected is used solely to enhance the functionality of our
            services and to provide personalized meal recommendations.
        </p>

        <h2 class="mb-4">Disclaimer</h2>
        <p>
            Chefster provides AI-generated meal suggestions based on the information you provide during profile
            creation. Please note that the meal recommendations are generated at the discretion of the AI model and may
            vary depending on the quality and accuracy of the input data. Chefster is not responsible for any personal
            dietary needs, preferences, or restrictions that may not be fully accounted for by the AI model. Always
            consult with a healthcare professional or nutritionist if you have specific dietary requirements or health
            concerns.
        </p>
    </div>
</div>